<%- include("./partials/Head")  %> 

        <body id="body-pd" >
            <!-- Side bar -->
                <%- include("./partials/sidebar") %> 
                <%- include("./partials/navbar") %> 
            <div class="filterbtn  ">
                <button class="btn btn-success" >Filter</button>
             </div>
    <!--Container Main end-->
<!-- The Body of the page  -->
            <div class="row ">
                <div class="col-2"></div>
                <div class="container bodycontainer">
                    <div class="bigproductbox ">
                        <div class="row row-cols-1 row-cols-xs-12 row-cols-md-4">
                            <%  arrproduct.forEach(item => {  %>
                            <div class="item col-lg-2 col-md-3 col-sm-6">
                                <div class="pad15">
                                    <div class="productbox">
                                        <a href="/w3images/lights.jpg" target="_blank"><img src="../Images/phone1.jpg" alt="Lights" class="homeimage"><div class="caption"></div></a>
                                        <div class="namedes">
                                            <h6 class="productname"><%= item.product_name %></h6>
                                            <p class="productsmalldes"><%= item.product_name %></p>
                                        </div>
                                        <div class="row productboxdetail">
                                            <div class="rating">
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star checked"></span>
                                            <span class="bi bi-star"></span>
                                            <span class="bi bi-star"></span>
                                            </div>
                                            <h6 class="d-flex float-end justify-content-end ml-auto mt-2">$159</h6>
                                            <div class="row btnonhoverproductbox">
                                                <button class="btn btnAddCart col-4"><i class="bi bi-cart-plus onhover" ></i></button>
                                                <button class="btn btnAddCart whitelistbtn col-8">White list</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%  }); %>
                        </div>
                        <div>
                            <div class="pagination d-flex justify-content-center">
                                <a href="#">&laquo;</a>
                                <a href="#">1</a>
                                <a class="active" href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a href="#">&raquo;</a>
                              </div>
                        </div>
                    </div>
                </div>
                    <%- include("./partials/footer") %> 