<%- include("./partials/Head")  %> 
        <body id="body-pd">
            <!-- Side bar -->
                <%- include("./partials/sidebar") %> 
                <%- include("./partials/navbar") %>     
            <div class="container-fluid">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://www.rayashop.com/media/amasty/bannerslider/1920--520-eng-.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://www.rayashop.com/media/amasty/bannerslider/eng-HAs-banner-1920x520.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <!-- Related Products box -->
            <div class="section container-fluid mt-5" id="Related">
                <p class="h3 ml-2 mb-4">Best Offers</p>
                <div class="track ">
                    <button class="btn leftarrow d-none d-md-block"><i class='fas fa-angle-left' style='font-size:36px'></i></button>
                    <%  arrproduct.forEach(item => {  %>
                    <div class="card-container col-2 col-md-4 col-lg-2">
                      <div class="card ">
                        <a href="/mainpage/<%= item._id %>" class="divimage"><img src="../Images/phone4.jpg" alt="Lights" class="relatedProductsimage"><div class="caption"></div></a>
                        <div class="namedes ms-3">
                            <h6 class="productname mt-5 "><%= item.product_name %></h6>
                            <p class="productsmalldes "><%= item.product_name %></p>
                        </div>
                        <div class="row productboxdetail m-2 mt-4">
                            <div class="ratingProduct col">
                            <span class="bi bi-star checked"></span>
                            <span class="bi bi-star checked"></span>
                            <span class="bi bi-star checked"></span>
                            <span class="bi bi-star"></span>
                            <span class="bi bi-star"></span>
                            </div>
                            <h6 class="  ml-auto">$159</h6>
                        </div>
                            <div class="row btnonhoverproductbox d-flex justify-content-center">
                                <a href="/addcart" type ="sybmit"class="btn btnAddCartproduct whitelistbtn col-10 py-2 nowrap">Add to Card</a>
                            </div>
                      </div>
                    </div>
                        <%  }); %>
                      <button class="btn Rightarrow d-none d-md-block "><i class='fas fa-angle-left' style='font-size:36px'></i></button>
                </div>
            </div>
            <div class="section container-fluid mt-5" id="Related">
                <p class="h3 ml-2 mb-4">Best Offers</p>
                <div class="track ">
                    <button class="btn leftarrow d-none d-md-block"><i class='fas fa-angle-left' style='font-size:36px'></i></button>
                    <%  arrproduct.forEach(item => {  %>
                    <div class="card-container col-2 col-md-4 col-lg-2">
                      <div class="card ">
                        <a href="/mainpage/<%= item._id %>" class="divimage"><img src="../Images/phone4.jpg" alt="Lights" class="relatedProductsimage"><div class="caption"></div></a>
                        <div class="namedes ms-3">
                            <h6 class="productname mt-5 "><%= item.product_name %></h6>
                            <p class="productsmalldes "><%= item.product_name %></p>
                        </div>
                        <div class="row productboxdetail m-2 mt-4">
                            <div class="ratingProduct col">
                            <span class="bi bi-star checked"></span>
                            <span class="bi bi-star checked"></span>
                            <span class="bi bi-star checked"></span>
                            <span class="bi bi-star"></span>
                            <span class="bi bi-star"></span>
                            </div>
                            <h6 class="  ml-auto">$159</h6>
                        </div>
                            <div class="row btnonhoverproductbox d-flex justify-content-center">
                                <a href="/addcart" type ="sybmit"class="btn btnAddCartproduct whitelistbtn col-10 py-2 nowrap">Add to Card</a>
                            </div>
                      </div>
                    </div>
                        <%  }); %>
                      <button class="btn Rightarrow d-none d-md-block "><i class='fas fa-angle-left' style='font-size:36px'></i></button>
                </div>
            </div>
            <div class="section container-fluid mt-5" id="Related">
                <p class="h3 ml-2 mb-4">Best Offers</p>
                <div class="track ">
                    <button class="btn leftarrow d-none d-md-block"><i class='fas fa-angle-left' style='font-size:36px'></i></button>
                    <%  arrproduct.forEach(item => {  %>
                    <div class="card-container col-2 col-md-4 col-lg-2">
                      <div class="card ">
                        <a href="/mainpage/<%= item._id %>" class="divimage"><img src="../Images/phone4.jpg" alt="Lights" class="relatedProductsimage"><div class="caption"></div></a>
                        <div class="namedes ms-3">
                            <h6 class="productname mt-5 "><%= item.product_name %></h6>
                            <p class="productsmalldes "><%= item.product_name %></p>
                        </div>
                        <div class="row productboxdetail m-2 mt-4">
                            <div class="ratingProduct col">
                            <span class="bi bi-star checked"></span>
                            <span class="bi bi-star checked"></span>
                            <span class="bi bi-star checked"></span>
                            <span class="bi bi-star"></span>
                            <span class="bi bi-star"></span>
                            </div>
                            <h6 class="  ml-auto">$159</h6>
                        </div>
                            <div class="row btnonhoverproductbox d-flex justify-content-center">
                                <a href="/addcart" type ="sybmit"class="btn btnAddCartproduct whitelistbtn col-10 py-2 nowrap">Add to Card</a>
                            </div>
                      </div>
                    </div>
                        <%  }); %>
                      <button class="btn Rightarrow d-none d-md-block "><i class='fas fa-angle-left' style='font-size:36px'></i></button>
                </div>
            </div>
            <%- include("./partials/footer") %> 
